[submodule "src/github.com/gobly/ui"]
	path = src/github.com/gobly/ui
	url = https://github.com/gobly/ui.git
[submodule "src/github.com/gobly/core"]
	path = src/github.com/gobly/core
	url = https://github.com/gobly/core.git
[submodule "src/github.com/gobly/help"]
	path = src/github.com/gobly/help
	url = https://github.com/gobly/help.git
[submodule "src/github.com/gobly/mongo"]
	path = src/github.com/gobly/mongo
	url = https://github.com/gobly/mongo.git
